# dependencies
/node_modules
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
.next/
/out/
out/

# production
/build

# misc
.DS_Store
*.pem
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.production
.env.development

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE & OS files
.vscode/
.idea/
*.swp
*.swo
